body, html {
    height: 100%;
    margin: 0;
    font-family: 'Century Gothic', sans-serif;
}

.background, .background-info, .background-journey {
    background-image: url('../img/background1.jpg');
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
}

.bginfo {
    background-image: url('../img/background2.jpg');
}

.bgjourney {
    background-image: none;
    background-color: rgb(167, 210, 223);
}

.landing-box {
    position: absolute;
    width: 35%;
    height: 75%;
    background-color: rgba(255, 255, 255, 0.904);
    margin-top: 7%;
    left: 9%;
    border-radius: 8px;
    box-shadow: -4px 16px 40px rgba(0, 0, 0, 0.658);
    text-align: center;
    overflow: scroll;
    opacity: 0.9;
}

.info {
    left: 3%;
    height: 85%;
    margin-top: 4%;
    width: 50%;
}

.info p {
    text-align: left;
    margin-left: 2rem;
    margin-right: 2rem;

}

.two {
    height: 90%;
    margin-top: 3%;
}

.journey {
    background-color: rgba(255, 255, 255, 0.63);
    opacity: 0.95;
    width: 90%;
    height: 85%;
    left: 5%;
    margin-top: 4%;
}

.ads-bar {
    padding: 0.3rem;
    position: relative;
    height: 15%;
    width: 100%;
    z-index: 1;
    opacity: 1;
    text-align: center;
    margin-top: 1.2rem;
}

.ads-bar:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.082);
    transition: all 0.4s ease 0s;
}

.ads-logo {
    max-height: 100%;
    width: auto;
    opacity: 1;
}

h1, p {
    padding: 5%;
}

p {
    font-size: 20px;
}

.info p {
    padding: 0;
    padding-right: 1rem;
    padding-left: 1rem;
    font-size: 18px;
}

.journey h1 {
    padding: 2%;
}

.cto {
    height: 10%;
    font-size: 20px;
    border-style: none;
    background-color: rgb(193, 243, 101);
    border-radius: 8px;
    padding: 0.75rem;
    margin: 0.10rem;
    cursor: pointer;
    margin: 0 0.25rem 0 0.25rem;
}

.about, .question {
    background-color: rgb(115, 164, 255);
}

ul {
    text-align: left;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

.condition-list {
    text-align: center;
    columns: 1;
    -webkit-columns: 1;
    -moz-columns: 1;
}

.response-list {
    text-align: center;
    columns: 1;
    -webkit-columns: 1;
    -moz-columns: 1;
}

.condition {
    padding: 0.75rem;
    margin: 0.2rem;
    background-color: rgba(130, 177, 44, 0);
    background-image: linear-gradient(to right, rgb(130, 177, 44), rgba(130, 177, 44, 0.644));
    margin-top: 0.5rem;
}

.question {
    font-size: 30px;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 1rem;
    background-color: #80acffd5;
}

.journey ul {
    margin-right: 2rem;
}

.alt {
    background-image: linear-gradient(to left, rgba(130, 177, 44, 1), rgba(130, 177, 44, 0.644));
}

.cto:hover {
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.445);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.7);
    box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.7);
    border-radius: 20px;
    transition: all 0.2s ease 0s;
}

.question:hover {
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}


li {
    margin: 0.24rem;
}

.report-list {
    font-size: 20px;
    margin: 5rem;
    text-align: center
    justify
}

h1 span { 
    background-color: yellow; 
}

.prev {
    background-color: rgba(228, 228, 228, 0.781)
}

.next {
    background-color: rgba(94, 214, 94, 0.781)
}


.journey p {
    font-size: 30px;
    padding: 1rem;
}