body, html {
    height: 100%;
    margin: 0;
    font-family: 'Century Gothic', sans-serif;
}

.background, .background-info, .background-journey {
    background-image: url('../img/background1.jpg');
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
}

.bginfo {
    background-image: url('../img/background2.jpg');
}

.bgjourney {
    background-image: url('../img/questionbg.png');
}

.bgselect {
    background-image: url('../img/background.jpg');
}

.landing-box {
    position: absolute;
    width: 37%;
    height: 75%;
    background-color: rgba(255, 255, 255, 0.904);
    margin-top: 7%;
    left: 9%;
    border-radius: 8px;
    box-shadow: -4px 16px 40px rgba(0, 0, 0, 0.747);
    text-align: center;
    overflow: scroll;
    opacity: 0.9;
}

@media (max-width: 690px) {
    .landing-box {
        width: 82%;
    }
}

.select {
    padding: 0;
}

.info {
    left: 3%;
    height: 85%;
    margin-top: 4%;
    /* width: 50%; */
}

.info p {
    text-align: left;
    margin-left: 2rem;
    margin-right: 2rem;

}

.two {
    height: 90%;
    margin-top: 3%;
}

.journey {
    background-color: rgba(255, 255, 255, 0.63);
    opacity: 0.95;
    width: 90%;
    height: 85%;
    left: 5%;
    margin-top: 4%;
    padding-bottom: 0.5rem;
}

.ads-bar {
    padding: 0.3rem;
    position: relative;
    height: 15%;
    width: 100%;
    z-index: 1;
    opacity: 1;
    text-align: center;
    margin-top: 1.2rem;
    max-width: 100%;
}

.ads-bar:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.082);
    transition: all 0.4s ease 0s;
}

.ads-logo {
    max-height: 90%;
    max-width: 84%;
    width: auto;
    opacity: 1;
}

h1, p {
    padding: 5%;
}

p {
    font-size: 20px;
}

.info p {
    padding: 0;
    padding-right: 1rem;
    padding-left: 1rem;
    font-size: 18px;
}

.journey h1 {
    padding: 2%;
}

.cto {
    height: 10%;
    font-size: 20px;
    border-style: none;
    background-color: rgb(193, 243, 101);
    border-radius: 8px;
    padding: 0.75rem;
    margin: 0.10rem;
    cursor: pointer;
    margin: 0.25rem 0.25rem 0.25rem 0.25rem;
}

.about, .question {
    background-color: rgb(115, 164, 255);
}

ul {
    text-align: left;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

.condition-list {
    text-align: center;
    columns: 1;
    -webkit-columns: 1;
    -moz-columns: 1;
}

.response-list {
    text-align: center;
    columns: 1;
    -webkit-columns: 1;
    -moz-columns: 1;
}

.condition {
    padding: 0.75rem;
    margin: 0.5rem;
    margin-top: 0.5rem;
}

.question {
    font-size: 30px;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 1rem;
    background-color: #80acffd5;
}

.journey ul {
    margin-right: 2rem;
}

.cto:hover {
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.445);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.7);
    box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.7);
    border-radius: 20px;
    transition: all 0.2s ease 0s;
}

.question:hover {
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}


li {
    margin: 0.24rem;
}

.report-list1, .report-list2 {
    font-size: 20px;
    margin: 5rem;
    text-align: left
}

.report-list1 {
    margin-right: 22rem;
    margin-left: 22rem;
}

.report-list2 {
    margin-right: 8rem;
    margin-left: 8rem;
}

.report-list2 li {
    margin: 1rem;
}

h1 span { 
    background-color: yellow; 
}

.prev {
    background-color: rgba(228, 228, 228, 0.781)
}

.next {
    background-color: rgba(94, 214, 94, 0.781)
}


.journey p {
    font-size: 30px;
    padding: 1rem;
}


.dropbtn {
    background-color: #4CAF50;
    margin-left: 5rem;
    margin-right: 5rem;
    color: white;
    padding: 16px;
    font-size: 40px;
    border-radius: 6px;
    border-color: #3e8e41;
    border-width: 4px;
    border-style: solid;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    margin-left: 0rem;
    margin-right: 0rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 170px;
    max-height: 270px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-color: #3e8e41;
    border-width: 4px;
    border-style: solid;
    border-radius: 6px;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    column-rule: 1px solid #3e8e41;
    column-gap: 0;
    z-index: 1;
    overflow-y: scroll;
    margin-top: 0.2rem;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
      background-color: #3e8e41;
      color: white;
      font-weight: bold;
    }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}

  .backto {
    margin-top: 8rem;
    margin-left: 0.3rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
  }

  .dropdown:hover .backto {
      display: none;
  }

  .question:hover {
    background-color: #3e8e41;
  }
